:root, [data-theme="default"] {
  --mainFontColor: #000000;
  --mainBackground: #FFFFFF;
  --buttonFont: #FFFFFF;
  --invalid: #E47C63;
  --mainBorder: #E1E1E1;
  --placeholderInputField: #8893A5;
  --inputBorderFocus: #5186C4;
  --primary: #5186C4;
}
